.hero {
  padding-top: 62px;
  background: #232323 url("../img/hero-img-desktop.jpg") no-repeat;
  background-position: top center;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/hero-img-desktop@2x.jpg");
  }

  @media (max-width: $width-desktop+px) {
    padding-top: 0;
    background-image: url("../img/promo-img-tablet.jpg");
    background-size: 100% auto;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/promo-img-tablet@2x.jpg");
    }
  }

  @media (max-width: $width-tablet+px) {
    background-image: url("../img/promo-img-mobile.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/promo-img-mobile@2x.jpg");
    }
  }
}

.hero__container {
  display: grid;
  grid-template-columns: 393px 327px;
  justify-content: space-between;
  padding-top: 318px;
  padding-bottom: 221px;
  margin-top: -62px;
  max-width: 877px;
  min-height: 825px;

  @media (max-width: $width-desktop+px) {
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content;
    max-width: initial;
    margin-top: -50px;
    padding: 134px 0 0;
    justify-items: center;
    min-height: initial;
  }

  @media (max-width: $width-tablet+px) {
    padding-top: 121px;
  }
}

.hero__column {
  @media (max-width: $width-desktop+px) {
    padding-left: 50px;
    padding-right: 50px;
    width: 100%;
  }

  @media (max-width: $width-tablet+px) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.hero__column--text-content {
  @media (max-width: $width-desktop+px) {
    padding-bottom: 64px;
  }
  @media (max-width: $width-tablet+px) {
    padding-bottom: 53px;
  }
}

.hero__column--form {
  @media (max-width: $width-desktop+px) {
    display: grid;
    justify-content: center;
    padding-top: 70px;
    background: #ffffff;
  }

  @media (max-width: $width-tablet+px) {
    padding-bottom: 35px;
  }
}
