.hero {
  background: #232323 url("../img/hero-img-desktop.jpg") no-repeat;
  background-size: 100% 825px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/hero-img-desktop@2x.jpg");
  }

  @media (max-width: $width-desktop+px) {
    background: transparent url("../img/hero-img-tablet.jpg") no-repeat;
    background-size: 100% 340px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/hero-img-tablet@2x.jpg");
    }
  }

  @media (max-width: $width-tablet+px) {
    background: transparent url("../img/hero-img-mobile.jpg") no-repeat;
    background-size: 100% 390px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/hero-img-mobile@2x.jpg");
    }
  }
}

.hero__container {
  display: grid;
  grid-template-columns: 393px 327px;
  justify-content: space-between;
  padding-top: 318px;
  padding-bottom: 221px;
  margin-top: -62px;
  max-width: 877px;
  min-height: 825px;

  @media (max-width: $width-desktop+px) {
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content;
    max-width: initial;
    margin-top: -50px;
    padding: 134px 50px 35px;
    justify-items: center;
    min-height: initial;
  }

  @media (max-width: $width-tablet+px) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.hero__column--text-content {
  @media (max-width: $width-desktop+px) {
    margin-bottom: 64px;
  }
}
